@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Remove borders from all card-like elements */
  .rounded-2xl, .rounded-xl, .rounded-lg {
    border: none !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}